VITE_API_BASE_URL="http://localhost:3333/api"
VITE_ENABLE_TEST_LOGIN="true"
VITE_ENABLE_API_FALLBACK_MOCKS="true"
VITE_ADS_ADVERTISER_ACCOUNTS_ENABLED="false"
VITE_ADS_PLACEMENT_CATALOG_ENABLED="false"
VITE_ADS_R2_CREATIVE_UPLOAD_ENABLED="false"
VITE_ADS_REVIEW_WORKFLOW_ENABLED="false"
VITE_ARTIST_EPK_ENABLED="false"
VITE_ARTIST_SELF_SERVICE_ENABLED="false"
VITE_ARTIST_BOOKING_REQUESTS_ENABLED="false"
VITE_ARTIST_MEDIA_GALLERY_ENABLED="false"
VITE_VAPID_PUBLIC_KEY=""
